<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User Detail</title>
  <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>
<body>
detail <br/>
id : <input type="number" id="input_id" /> <br/>
username : <input type="text" id="input_username" /> <br/>
password : <input type="text" id="input_password" /> <br/>
<button onclick="detail_user()">조회하기</button>
<button onclick="update_user()">수정하기</button>
<button onclick="delete_user()">삭제하기</button>

<script>
  function delete_user(){
    $.ajax({
      url: '/api/user',
      method: 'DELETE',
      contentType : 'application/json; charset=utf-8',
      data : JSON.stringify({
        id : $("#input_id").val()
      }),
      success: function (data, status, xhr) {
        alert("data : : " + JSON.stringify(data));
      },
      error: function (data, status, err) {
      },
      complete: function () {
      }
    });
  }
  function update_user(){
    $.ajax({
      url: '/api/user',
      method: 'PUT',
      contentType : 'application/json; charset=utf-8',
      data : JSON.stringify({
        id : $("#input_id").val()
        , username : $("#input_username").val()
        , password : $("#input_password").val()
      }),
      success: function (data, status, xhr) {
        alert("data : : " + JSON.stringify(data));
      },
      error: function (data, status, err) {
      },
      complete: function () {
      }
    });
  }
  function detail_user(){
    $.ajax({
      url: '/api/user/detail/' + $("#input_id").val(),
      method: 'GET',
      success: function (data, status, xhr) {
        alert("data : : " + JSON.stringify(data));
        let user = data;
        $("#input_username").val(user["username"]);
        $("#input_password").val(user["password"]);
      },
      error: function (data, status, err) {
      },
      complete: function () {
      }
    });
  }
</script>

</body>
</html>